extends ../layout
block content
    block a_content
block scripts
    link(href="/stylesheets/account/style.css", rel="stylesheet")
    script(src="http://malsup.github.com/jquery.form.js")
    block a_scripts
