form(method="POST", action="http://localhost:3000/signup")
    label(for='username') Email
    input#username(type='text', name='username')
    label(for='password') Password
    input#password(type='text', name='password')
    input(type="submit", value="SignUp")