form(method="POST", action="/signup")
    label(for='username') Email
    input#username(type='text', name='email')
    label(for='password') Password
    input#password(type='text', name='password')
    input(type="submit", value="SignUp")